<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/static/img/worldmap.png">

    <title>devGIS | Modern GIS applications</title>
</head>
<body>
    
    <header class="header">
        <div class="header__logo-box">
            <img src="" alt="Logo" class="header__logo">

        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">devGIS</span> 
                <span class="heading-primary--sub"> the future is GIS</span> 
    
            </h1>
            <a href="#" class="btn btn--white btn--animated">View our projects</a>
        </div>

        <!-- <div class="carousel">

            <ul>
                <li>
                    <div class="carousel-container">

                        <img src="/static/img/navgeo1.jpeg" alt="">
                    </div>

                </li>
                <li>
                    <div class="carousel-container">

                        <img src="/static/img/navgeo2.jpeg" alt="">
                    </div>

                </li>
                <li>
                    <div class="carousel-container">

                        <img src="/static/img/navgeo3.jpeg" alt="">
                    </div>

                </li>
                <li>
                    <div class="carousel-container">

                        <img src="/static/img/navgeo4.jpeg" alt="">
                    </div>

                </li>

            </ul>

        </div> -->

    
</body>
</html>